.modal-pe {
  color: #111827;
}

.modal-title {
  color: white;
}

.modal-pe,
.modal-pe .form-label {
  color: #111827;
}

.modal-pe__input {
  color: #111827;
}

.modal-pe__input::placeholder {
  color: #6b7280;
}
